.html{
  font-size: 62.5%;
}

:root{
  --blue-dark:rgb(42,82,190);
  --blue-light:rgb(25,179,211);
  --black:#000;
  --white:#fff;
  --purple:rgb(138,43,226);
  --maroon:rgb(220,20,60);
  --orange:rgb(255,69,0);
  --greylight:rgb(108,117,125);
}

.body{
  margin: 0;
  padding: 0; 
}

.header{
  background-color:var(--blue-dark);
  height:12vh;
  }

.main{
  background-color: var(--white);
  height:88vh;
}

.sidebar{
  background-color:var(--blue-dark);
  height:88vh;
}

.sidebar__nav{
  padding-top: 5rem;
}

.sidebar__nav >ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0;
}

.sidebar__navLink > li{
  list-style: none;
  padding:1.6rem;
  font-weight: bold;
 }

.sidebar__navLink > li:hover{
  background-color:var(--blue-light);
  color:var(--black);
 }

.sidebar__navLink{
  color:var(--white);
  text-decoration: none;
}

.block{
  border-radius: 0.3rem;
  color:var(--white);
  text-decoration: none;
 }
 .block:hover{
  color:var(--white);
 }

.welcome-block{
  background-color: var(--greylight);
 }
 .add-block{
   background-color:var(--purple);
 }

 .multiply-block{
   background-color: var(--maroon);
 }

 .square-block{
  background-color: var(--orange);
 }
 .block >small{
   animation:blink 0.5s ease-in-out infinite;
 }
 @keyframes blink{
   0%{opacity: 0;}
   100%{opacity: 1;}
 }

 .addscreen{
   background-color: var(--purple);
   min-height:100%;
   max-height: max-content;
   color:var(--white);
 }

.calc-sum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .addend{
   display: flex;
   flex-direction: column;
   width:20%;
   justify-content: center;
   text-align: right;
   
 }

 .calc-sum > input{
   width:100%;
   border-radius: 0.4rem;
   border: 0.1rem solid var(--blue-dark);
   padding:1 rem;
   text-align: center;
   outline:none;
  }

 .calc-sum > button{
   width:100%;
 }

 .calc{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .calc-result{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:1rem;
   background-color: var(--blue-light);
   color:var(--black);
 }

 .timer__digits{
   font-size: 2.5rem;
  font-weight:500;
 }